@media screen and (max-width:768px)/* below change happens when device width is <768px*/
{
   
    .white-space
    {
        float: none; 
    }
    
    .left-conatct
    {
        float: none;
    }
    .left-conatct span
    {
        margin-left: 10px;
    }
    .header
    {
        height: 70px;  /*must not be greater than actual one*/
             
    }
    
    /* first work on header image and than on menu*/
    .header-images
    {
        height: 50px;
        float: none; /*what happens?????*/
    }
    .header-images .brand-image
    {
        height: 30px;
        width: 140px;
        padding: 10px 20px;
    }
    .menu
    {
        float: none;/* will shift to leftside*/
    }
    .menu ul li
    {
        display: block;/* it will chnage from inline(horizontal) to vertical(block*/
        background: rgba(28,28,28,0.96);
        padding: 2px; /*will makes the menubar items spacing close */
        font-size: 17px;
        text-align: center;
    }
    .menu ul li:hover
    {
        background: #2a2a2a;
    }
    .menu ul
    {
        margin: 0px; /*aligns vertically the menubar with top logo */
    }
    .menu-button /*for smaller device*/
    {
        display:block; 
    }
    .menu /*for smaller device but wont effective on bigger device*/
    {
        display: none;
    }
    .wrap-container
    {
        width: 80%;
    }
    .wrapper-content h1
    {
        font-size: 30px;
    }
    .explore-button
    {
        padding: 2px 20px;
        font-size: 18px;
    }
    .div-box
    {
        width: 50%;
        float: none;
        text-align: center;
    }
    .service-container
    {
        box-shadow: none;
        position: static;
        width: 100%;
    }
    .div-visa
    {
        float: none;
        margin: 0px auto; 
    }

    
    
    
    .conatct-us h1
    {
        margin-bottom: 0px; /*removes margin between contact us and form*/
    }
    .contact-us .contact-image
    {
        float: none;
        width: 100%;
        text-align: center;
    }
    .conatct-image img
    {
        width: 50%;
    }
    .contact-us .contact-form
    {
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-form input
    {
        width: 100%;
        margin-bottom: 7px;
    }
    .contact-form .subject
    {
        width: 100%;
    }
    .contact-form .submit
    {
        width: 65%;
        padding: 8px 30px;  
    }
    .footer .widgets
    {
        width: 100%; /*sets all widgets to vertically as in bigger screen its 20%*/
        min-height: auto;/* aligns height automaticall to defind*/
        padding: 2.5% 0px;
        float: none; /*to clear the float defind in bigger screen*/
    }
    .footer .subscribe
    {
        width: 90%;/* you can adjust by viewing the mobile screen*/
    }
    .footer .main-footer p
    {
        font-size: 13px;
    }
}









@media screen and (max-width:320px)
{
    .wrapper-content h1
    {
        font-size: 26px; /*when device size is 320px or less*/
    }
    .wrapper-content
    {
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .about-us p
    {
        line-height: 1px;/* so you can adjust the spacing between the line*/
        font-size: 13px; /*size of font*/
    }
}
